.flex-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 70%;
    padding-top: 70%;
    text-align: center;
   
}



.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    height: 30%;
    text-align: center;
}