.flex-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    height: 70%;
    padding-top: 60%;
    padding-left: 5%;
    margin-right: 30%;
    text-align: left;
   
}

ion-button {
    --border-width: 1px;
}
.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    height: 30%;
    text-align: center;
}