<ion-header class="ion-no-border">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mycolor">



  <!-- <iframe src="https://www.youtube.com" style="width:100%;height:100%" scrolling="yes"></iframe> -->
  <!-- <div class="flex-container ">
    <ion-card color="mycolor">
      <ion-card-header>
        <ion-card-title>Home</ion-card-title>
        <ion-card-subtitle>Get To Know Me</ion-card-subtitle>
      </ion-card-header>

      <!-- <ion-card-content>
        I'm Ian B. Divinagracia 19 years of age and born on January 29, 2002. I currently live in Maniki, Kapalong Davao
        del Norte...
      </ion-card-content> -->
  <!--</ion-card>

  </div> -->
  <div class="flex-container ">


    <span style="font-weight:300;font-size:9pt">
      <ion-text color="medium"> <br></ion-text>
    </span>
    <span style="font-weight:750;font-size:30pt;margin-top: 5pt;
    ">
      <ion-text>Get To Know Me</ion-text>
    </span>

    <span style="font-weight:300;font-size:9pt">
      <ion-text color="medium"> I'm Ian B. Divinagracia 20 years of age and born on January 29, 2002...<br></ion-text>
    </span>
    <br>
    <span>
      <!-- <ion-spinner name="dots" color="primary"></ion-spinner> -->
      <ion-button routerLink="/home" routerDirection="root" size="medium" fill="outline" color="light">GO INSIDE
      </ion-button>
    </span>
    <br><br><br>
  </div>
  <div class="flex-footer">
    <!-- <ion-text color="medium"><small style="font-size: 8pt;"> Developed by: Ian Divinagracia</small></ion-text> -->
    <img src="assets/wave.svg" />
  </div>
</ion-content>
